*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body {
    display: flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    padding:10px;
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
    max-width:700px;
    width:100%;
    background:#fff;
    padding:25px 30px;
    border-radius: 5px;
}
.container form .user-details{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
} 
form .user-details .input-box{
    margin: 20px 0 12px 0;
    width:calc(100% / 2 - 40px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
    padding: 16px;
    border-radius: 7px;
    outline-style: hidden;
    outline:none;
}